* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}


ul {
  margin: 0;
  overflow-x: hidden !important;

}

:root {
  --blue: #005cb9;
  --white: #ffffff;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  /* padding: 0px; */



}

.navbar-brand {
  font-size: .8rem;
  font-weight: bold;
  color: #172A58;
}

.active {
  color: black;
  font-weight: bold !important;
}

.nav-link {
  font-size: .8rem;
  font-weight: 500;
  color: #172A58;
}

.first_banner_container {
  width:100%;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("./assets/Fugu-Banner-removebg-preview.png");
  align-items: center;
  /* justify-content: space-between; */
  color: #ffffff;
  overflow-x: hidden !important;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner_test_container{
  width: 100%;
}
.second_banner_container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("./assets/PFS-banner.png");
  align-items: center;
  /* justify-content: space-between; */
  color: #ffffff;
  overflow-x: hidden !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.socials_container {
  padding: 50px 20px 0px 30px;
  position: relative;
  width: 100%;

  /* margin-top: 30px; */



}


.indi_socials_container {
  display: flex;
  flex-direction: row;
  /* margin-right: 20px !important; */
  align-items: center;
  margin-bottom: 20px;
}

.main_footer_container {
  width: 100%;
  padding: 20px 20px;
  /* overflow-x: hidden !important; */


}

.news_letter {
  width: 100%;
}

.news_letter_header {
  margin-bottom: 20px;
  width: 100%;
}

.quicklink_header {
  margin-bottom: 20px;
}

/* form  */
.news_letter_form {
  position: relative;
  width: 100%;
}

/* inputs  */
#news_letter {
  padding: .6rem .8rem;
  font-size: .6rem;
  width: 100%;
  margin-bottom: 20px;
}

/* button  */


/* Links  */
.continue_browsing {
  /* margin-right: 450px; */
  margin-bottom: 0px;
}

/* typography */
.social_header_span {
  color: grey;
}

.socials_paragraph {
  text-transform: capitalize;
  font-size: .6rem;
  font-weight: 300;
  color: gray;
  line-height: 0.2rem;
}

.socials_h6 {
  font-size: .6rem;
  font-weight: bold;
  
}

.last {
  font-size: .4rem;
  font-weight: bold;
}

.socials_container h5 {
  color: var(--blue);
  font-size: 1rem;
  font-weight: 600;
  margin-left: 50px;
  margin-bottom: 30px;

}

.banner_head_test {
  font-size: .6rem;
  font-weight: 500;
}

.banner_body_test {
  font-size: .8rem;
  line-height: 1.3rem;
  /* max-width: 550px; */
}

.news_letter_header {
  font-size: 1.5rem;
  width: 100%;
  font-weight: bolder;
  text-transform: capitalize;
  color: #353F66;
}

.quicklink_header {
  color: #353F66;
  font-size: .9rem;
  font-weight: bold;
  text-transform: capitalize;
}

.inid_quiclink_container ul {
  padding: 0px;
}

.quicklink_list {
  list-style-type: none;
  margin-bottom: 10px;
  color: grey;
  font-size: .9rem;
  font-weight: 500;
}



/* IMAGES */
.banner_img {
  height: 250px;
  width: 500px;

  text-align: center;
}

.mobile {

  display: none;

}

.socials_img {
  height: 40px;
  width: 40px;
  margin-right: 3px;
}

.cont_browsing_img {
  height: 60px;
  margin-left: -190px;
  width: 230px;
  text-align: center;

}

/* media queries */
/* lg-992px md-768px sm-576px  */
/* large screen size laptop  */





/* mobiles  */
/* @media screen and (max-width: 576px) {
  .indi_socials_container {
    margin-right: 85px !important;

  }

  ;

  body {
    overflow-x: hidden;
    padding-left: 50px;
    padding-right: 50px;
  }

} */

@media screen and (min-width:676px) {
    /* .mobile {
        display: block;
        position: absolute;
        right: 320px;
    
        bottom: 300px;
        z-index: 1000;
        height: 500px;
        width: 500px;
      } */

}

@media screen and (min-width: 667px) {
  .mobile {
    display: block;
    position: absolute;
    right: 275px;

    bottom: 230px;
    z-index: 1000;
    height: 480px;
    width: 480px;
  }

  .first_banner_container {
    padding-left: 200px;
    padding-right: 200px;
    width: initial   ;
    height: 350px
  }
    .banner_img {
      height: 250px;
      width: 250px;
    }
        .banner_test_container {
          width: 70%;
        }

  .second_banner_container {
    padding-left: 200px;
    padding-right: 200px;
    width: initial;
    height: 350px;
  }
    .socials_container {
      padding: 50px 20px 0px 200px;
      position: relative;
     width: 100%;
  
  
  
  
  
    }
    .indi_socials_container {
     
      margin-right: 80px !important;
      margin-bottom: 30px;
     
    
    }

.socials_img {
  height: 80px;
  width: 80px;
  margin-right: 33px;
}
.socials_h6 {
  font-size: .8rem;


}

.last {
  font-size: .6rem;

}

.socials_container h5 {
 
  font-size: 1.2rem;
 

}
.cont_browsing_img {
  width: initial;
  margin-left: 450px;


}
.main_footer_container {
  width: 100%;
  padding: 20px 200px;
  /* overflow-x: hidden !important; */


}
    .subscribe_btn {
      position: absolute;
      top: 5px;
      right: 10px;
  
    }
  
    .news_letter {
      width: 60%;
    }
  
    .news_letter_form {
      width: 60%;
    }
  
    #news_letter {
      padding: .8rem .8rem;
      font-size: .6rem;
      width: 100%;
  
    }
}